// Font Styling and Text Modifications

body {
	color: var(--darkGrey2) !important;
}

main>div>div {
	font-weight: bold !important;
}

// (Sub)Titles

.unit-title {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 5rem;
	margin-bottom: 2.25rem !important;
	font-weight: bold;
}


.japanese-title {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 3rem;
}

.subtitle-japanese {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1.875rem;
	line-height: 2;
	text-align: justify;
	font-weight: bold;
	margin-bottom: 1em;
}

.title-crimson {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	color: var(--crimson);
	font-weight: bold;
	font-size: 2.75rem;
	text-shadow: 1px 1px 1px var(--darkGrey2);
}

.subtitle-crimson {
	color: var(--crimson);
	font-weight: bold;
	font-size: 2.25rem;
}

p.subtitle {
	font-size: larger;
	margin: 0;
}

// Other texts

.text-japanese {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1.75rem;
	line-height: 2;
	font-weight: normal !important;
	text-align: justify;
}

.text-crimson {
	color: var(--crimson);
	font-weight: bold;
	font-size: 2rem;
}

ol {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1.5rem;
	line-height: 2;
	font-weight: bold;
	text-align: justify;
}

ol.crimson li {
	color: var(--crimson);
	font-size: 1.65rem;
	margin-inline: 1.75em;
}

ol.crimson li p.text-japanese {
	color: var(--darkGrey2);
	font-size: 1.65rem;
}

ol.crimson li span.text-crimson {
	color: var(--crimson);
	font-weight: bold;
	font-size: 1.65rem;
}

ol.crimson li i.material-icons {
	font-size: 2.75rem;
}

// Responsive Font Style

@media (min-width: 320px) and (max-width: 479px) {
	.unit-title {
		font-size: 1.25rem;
	}

	.japanese-title {
		font-size: 0.975rem;
	}
	
	.subtitle-japanese {
		font-size: 0.575rem;
	}
	
	.title-crimson {
		font-size: 0.325rem;
	}
	
	.subtitle-crimson {
		font-size: 0.575rem;
	}
}

@media (min-width: 480px) and (max-width: 575px) {
	.unit-title {
		font-size: 2.35rem;
	}

	.japanese-title {
		font-size: 1.25rem;
	}
	
	.subtitle-japanese {
		font-size: 0.975rem;
	}
	
	.title-crimson {
		font-size: 0.525rem;
	}
	
	.subtitle-crimson {
		font-size: 0.975rem;
	}
}

@media (min-width: 576px) and (max-width: 680px) {
	.unit-title {
		font-size: 2.75rem;
	}

	.japanese-title {
		font-size: 2rem;
	}
	
	.subtitle-japanese {
		font-size: 1.375rem;
	}
	
	.title-crimson {
		font-size: 1rem;
	}
	
	.subtitle-crimson {
		font-size: 1.375rem;
	}
}

