// Font Styling and Text Modifications

body {
	color: var(--darkGrey2) !important;
}

main > div > div {
	font-weight: bold !important;
}

// (Sub)Titles

.japanese-title {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 3rem;
}

.subtitle-japanese {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1.875rem;
	line-height: 2;
	text-align: justify;
	font-weight: bold;
}

.title-crimson {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	color: var(--crimson);
	font-weight: bold;
	font-size: 2.25rem;
}

.subtitle-crimson {
	color: var(--crimson);
	font-weight: bold;
	font-size: 1.875rem;
}

// Other texts

.text-japanese {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1.5rem;
	line-height: 2;
	text-align: justify;
}

.text-crimson {
	color: var(--crimson);
	font-weight: bold;
	font-size: 1.5rem;
}
