// Font Styling and Text Modifications

.text-japanese-title {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
}

.text-japanese {
	font-family: 'Noto Serif JP', 'Kaisei Tokumin', serif, 'MS Mincho', Calibri, sans-serif, -apple-system;
	font-size: 1rem;
	line-height: 2;
	text-align: justify;
}