// MENUS

// Search button 

.btn-outline-success {
	color: var(--crimson);
	border-color: var(--crimson);

	&:hover {
		color: #fff;
		background-color: var(--crimson);
		border-color: var(--crimson);
	}
}

// Link colouring

ul {
	li {

		ul {
			li {
				a {
					color: var(--darkGrey2) !important;

					&.active,
					&:focus {
						background-color: var(--active-bg) !important;
					}
				}

				ul {
					li {
						a {

							&.active,
							&:focus {
								background-color: var(--active-bg) !important;
							}
						}
					}
				}
			}
		}

		a {
			color: var(--white) !important;

			&:hover {
				color: var(--crimson) !important;
				font-weight: bold;
			}

			&.active {
				font-weight: bold;
				background-color: transparent;
			}
		}
	}
}

nav.second-menu>a {

	&:hover {
		color: var(--crimson) !important;
	}

}

main {
	z-index: 999 !important;
}