// Pagination

.pagination {
	margin-top: 6rem !important;

	.page-item {
		&.active {
			.page-link {
				border-color: var(--crimson);
			}
		}
	}

	.page-link {
		color: var(--active-bg);
		background-color: var(--crimson);
		padding: 16px;
		font-size: 1.3125rem;

		&:hover {
			background-color: rgba(233, 236, 239, 0.6) !important;
			color: var(--crimson);
			background-color: var(--active-bg);
		}
	}
}