/* BLOCOS DE TEXTOS EXPLICATIVOS */

.text__block-0 {
    padding: 0.625rem !important;
    background-color: transparent;
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
    margin-left: 0.75rem;
}

.text__block-1 {
    padding: 0.625rem !important;
    background-color: var(--orange);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
    margin-left: 0.75rem;
}

.text__block-2 {
    padding: 0.625rem !important;
    background-color: var(--salmon);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-3 {
    padding: 0.625rem !important;
    background-color: var(--grey);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-4 {
    padding: 0.625rem !important;
    background-color: var(--trueYellow);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-5 {
    padding: 0.625rem !important;
    background-color: var(--forestGreen);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-6 {
    padding: 0.625rem !important;
    background-color: var(--sky);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-7 {
    padding: 0.625rem !important;
    background-color: var(--deepPink);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-8 {
    padding: 0.625rem !important;
    background-color: var(--orangeRed);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-9 {
    padding: 0.625rem !important;
    background-color: var(--cerulean);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__block-10 {
    padding: 0.625rem !important;
    background-color: var(--lilac);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

/* ROOMAJI DOS BLOCOS EM JAPONÊS */

.text__underlined_block-0-pd {
    padding: 0.375rem 0.375rem 0.1563rem 0.375rem !important;
    color: var(--darkGrey2);
    font-size: 1.35rem;
    line-height: 2.5;
}

.text__underlined_block-0 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
    line-height: 2.5;
}

.text__underlined_block-1 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--orange);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
    margin-left: 0.75rem;
}

.text__underlined_block-2 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--salmon);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-3 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--grey);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-4 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--trueYellow);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-5 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--forestGreen);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-6 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--sky);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-7 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--deepPink);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-8 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--orangeRed);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-9 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--cerulean);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}

.text__underlined_block-10 {
    padding: 0.625rem 0.625rem 0.25rem 0.625rem !important;
    border-bottom: 0.3125rem solid var(--lilac);
    color: var(--darkGrey2);
    font-size: 1.35rem;
    margin-right: 5px;
}